@model Library.Models.BookModel
@{
    ViewData["Title"] = "BookTemplate";
}

<div class="container">
    <div class="bookInfo">
        <h1 id="bookName">
            @Model.Book.BookName
        </h1>
        <h4 id="writerName">@Model.Writer.WriterName</h4>
        <h6 style="text-align: center;">@Html.ActionLink("Edit", "EditBook", "Book", new { bookId = @Model.Book.BookId }, new { @class = "glyphicon glyphicon-edit" })</h6>
        <br />
        <br />
        <table>
            <tr>
                <td>
                    <div id="bookPicture">
                        <img src="~/images/default.jpg" id="bimage" />
                    </div>
                </td>
                <td style="vertical-align: top;">
                    <p id="bookGenres">
                        @foreach (var genre in Model.Genres)
                        {
                            <text>@genre.GenreName </text>
                        }
                    </p>
                    <br />
                    <form asp-controller="User" asp-action="RateBook" asp-route-id="@Model.Book.BookId" class="rate">
                        @*<input type="radio" id="star5" name="rate" value="5" /><br />*@
                        <a asp-controller="User"
                           asp-action="RateBook"
                           asp-route-id="@Model.Book.BookId" asp-route-rate="5" name="rate" id="star5">
                            <label for="star5" title="text">5 stars</label>
                        </a>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                    </form>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <br />
                    <a asp-controller="User"
                       asp-action="AddBookForUser"
                       asp-route-id="@Model.Book.BookId">Add to cart</a>
                    <br />
                    @Model.Book.Description
                </td>
            </tr>
            <tr>
                <td>
                    <strong id="bookPrize">Details:</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong id="bookPrize">Book price @Model.Book.BookPrice $</strong>
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td>
                    <p>Number of books in stock: @Model.NumberOfBooks </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Number of pages: @Model.Book.PageNumber </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Book release year @Model.Book.ReleaseYear </p>
                </td>
            </tr>

        </table>
    </div>




</div>