@model IEnumerable<Library.Models.Book>
@{
    ViewData["Title"] = "Books";
}

<h2>Books</h2>
@Html.ActionLink("Add book", "AddBook", new { @class = "buttonGrey" })

<br />

<div>
    <form asp-controller="Book" asp-action="FindBookByName">
        <p>
            Title: <input type="text" name="name" placeholder="Search title" size="45">
            <input type="submit" value="Filter" />
        </p>
    </form>
</div>

<div>
    <form asp-controller="Book" asp-action="FindBooksByGenre">
        @{
            var categories = (List<Genre>)ViewData["Genres"]; // Cast the list
            var genre = new Genre();
            genre.GenreName = "ALL";
            genre.GenreId = 0;
            categories.Add(genre);
        }
        @foreach (var c in @categories) // Print the list
        {
            <a asp-controller="Book"
            asp-action="FindBooksByGenre"
            asp-route-genreId="@c.GenreId">@c.GenreName</a>
        }
    </form>
</div>

<div class="list-group">
    <ul style="list-style-type:none" class="list-group">
        @foreach (var item in Model)
        {
            @*<li class="list-group-item list-group-item-action list-group-item-dark">*@

            @Html.ActionLink(@item.BookName, "BookTemplate", "Book", new { id = item.BookId }, new { @class = "list-group-item list-group-item-action list-group-item-dark" })
        }

    </ul>
</div>







